<!DOCTYPE HTML>
<html>

<head>
    <title>Traveler - Elements</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <form class="main-header-search">
                                <div class="form-group form-group-icon-left">
                                    <i class="fa fa-search input-icon"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li class="top-user-area-avatar">
                                        <a href="user-profile.html">
                                            <img class="origin round" src="img/40x40.png" alt="Image Alternative text" title="AMaze" />Hi, John</a>
                                    </li>
                                    <li><a href="#">Sign Out</a>
                                    </li>
                                    <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                        <ul class="list nav-drop-menu">
                                            <li><a href="#">EUR<span class="right">€</span></a>
                                            </li>
                                            <li><a href="#">GBP<span class="right">£</span></a>
                                            </li>
                                            <li><a href="#">JPY<span class="right">円</span></a>
                                            </li>
                                            <li><a href="#">CAD<span class="right">$</span></a>
                                            </li>
                                            <li><a href="#">AUD<span class="right">A$</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="top-user-area-lang nav-drop">
                                        <a href="#">
                                            <img src="img/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />ENG<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                        </a>
                                        <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="German" href="#">
                                                    <img src="img/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Japanise" href="#">
                                                    <img src="img/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Italian" href="#">
                                                    <img src="img/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="French" href="#">
                                                    <img src="img/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Russian" href="#">
                                                    <img src="img/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Korean" href="#">
                                                    <img src="img/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="index.html">Home</a>
                            <ul>
                                <li><a href="index.html">Default</a>
                                </li>
                                <li><a href="index-1.html">Layout 1</a>
                                </li>
                                <li><a href="index-2.html">Layout 2</a>
                                </li>
                                <li><a href="index-3.html">Layout 3</a>
                                </li>
                                <li><a href="index-4.html">Layout 4</a>
                                </li>
                                <li><a href="index-5.html">Layout 5</a>
                                </li>
                                <li><a href="index-6.html">Layout 6</a>
                                </li>
                                <li><a href="index-7.html">Layout 7</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="success-payment.html">Pages</a>
                            <ul>
                                <li><a href="success-payment.html">Success Payment</a>
                                </li>
                                <li><a href="user-profile.html">User Profile</a>
                                    <ul>
                                        <li><a href="user-profile.html">Overview</a>
                                        </li>
                                        <li><a href="user-profile-settings.html">Settings</a>
                                        </li>
                                        <li><a href="user-profile-photos.html">Photos</a>
                                        </li>
                                        <li><a href="user-profile-booking-history.html">Booking History</a>
                                        </li>
                                        <li><a href="user-profile-cards.html">Cards</a>
                                        </li>
                                        <li><a href="user-profile-wishlist.html">Wishlist</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="blog-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="blog-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="blog-post.html">Post</a>
                                            <ul>
                                                <li><a href="blog-post.html">Sidebar Right</a>
                                                </li>
                                                <li><a href="blog-post-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="blog-post-full-width.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404 page</a>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a>
                                </li>
                                <li><a href="about.html">About</a>
                                </li>
                                <li><a href="login-register.html">Login/Register</a>
                                    <ul>
                                        <li><a href="login-register.html">Full Page</a>
                                        </li>
                                        <li><a href="login-register-normal.html">Normal</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="loading.html">Loading</a>
                                </li>
                                <li><a href="comming-soon.html">Comming Soon</a>
                                </li>
                                <li><a href="gallery.html">Gallery</a>
                                    <ul>
                                        <li><a href="gallery.html">4 Columns</a>
                                        </li>
                                        <li><a href="gallery-3-col.html">3 columns</a>
                                        </li>
                                        <li><a href="gallery-2-col.html">2 columns</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="page-full-width.html">Full Width</a>
                                </li>
                                <li><a href="page-sidebar-right.html">Sidebar Right</a>
                                </li>
                                <li><a href="page-sidebar-left.html">Sidebar Left</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active"><a href="feature-typography.html">Features</a>
                            <ul>
                                <li><a href="feature-typography.html">Typography</a>
                                </li>
                                <li><a href="feature-icons.html">Icons</a>
                                </li>
                                <li><a href="feature-forms.html">Forms</a>
                                </li>
                                <li><a href="feature-icon-effects.html">Icon Effects</a>
                                </li>
                                <li class="active"><a href="feature-elements.html">Elements</a>
                                </li>
                                <li><a href="feature-grid.html">Grid</a>
                                </li>
                                <li><a href="feature-hovers.html">Hover effects</a>
                                </li>
                                <li><a href="feature-lightbox.html">Lightbox</a>
                                </li>
                                <li><a href="feature-media.html">Media</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="hotels.html">Hotels</a>
                            <ul>
                                <li><a href="hotel-details.html">Details</a>
                                    <ul>
                                        <li><a href="hotel-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotel-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="hotel-details-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="hotel-details-4.html">Layout 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotel-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="hotel-payment.html">Registered</a>
                                        </li>
                                        <li><a href="hotel-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="hotel-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotel-search.html">Search</a>
                                    <ul>
                                        <li><a href="hotel-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotel-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotels.html">Results</a>
                                    <ul>
                                        <li><a href="hotels.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotels-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="hotels-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="hotels-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="hotel-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="flights.html">Flights</a>
                            <ul>
                                <li><a href="flight-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="flight-payment.html">Registered</a>
                                        </li>
                                        <li><a href="flight-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="flight-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="flight-search.html">Search</a>
                                    <ul>
                                        <li><a href="flight-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="flight-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="flights.html">List</a>
                                    <ul>
                                        <li><a href="flights.html">Layout 1</a>
                                        </li>
                                        <li><a href="flights-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="flights-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="flights-search-results-4.html">Layout 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="rentals.html">Rentals</a>
                            <ul>
                                <li><a href="rentals-details.html">Details</a>
                                    <ul>
                                        <li><a href="rentals-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="rentals-details-3.html">Layout 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rental-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="rental-payment.html">Registered</a>
                                        </li>
                                        <li><a href="rental-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="rental-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rentals-search.html">Search</a>
                                    <ul>
                                        <li><a href="rentals-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rentals.html">Results</a>
                                    <ul>
                                        <li><a href="rentals.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="rentals-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="rentals-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="rentals-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="cars.html">Cars</a>
                            <ul>
                                <li><a href="car-details.html">Details</a>
                                </li>
                                <li><a href="car-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="car-payment.html">Registered</a>
                                        </li>
                                        <li><a href="car-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="car-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="car-search.html">Search</a>
                                    <ul>
                                        <li><a href="car-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="car-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="cars.html">Results</a>
                                    <ul>
                                        <li><a href="cars.html">Layout 1</a>
                                        </li>
                                        <li><a href="cars-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="cars-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="cars-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="cars-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="activities.html">Activities</a>
                            <ul>
                                <li><a href="activitiy-details.html">Details</a>
                                    <ul>
                                        <li><a href="activitiy-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="activitiy-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="activitiy-details-3.html">Layout 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activity-search.html">Search</a>
                                    <ul>
                                        <li><a href="activity-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="activity-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activitiy-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="activitiy-payment.html">Registered</a>
                                        </li>
                                        <li><a href="activity-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="activitiy-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activities.html">Results</a>
                                    <ul>
                                        <li><a href="activities.html">Layout 1</a>
                                        </li>
                                        <li><a href="activities-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="activities-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="activities-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="activities-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container">
            <h1 class="page-title">Elements</h1>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-pills nav-stacked nav-side mb30">

                            <li><a href="feature-typography.html">Typography</a>
                            </li>
                            <li><a href="feature-icons.html">Icons</a>
                            </li>
                            <li><a href="feature-forms.html">Forms</a>
                            </li>
                            <li><a href="feature-icon-effects.html">Icon Effects</a>
                            </li>
                            <li class="active"><a href="feature-elements.html">Elements</a>
                            </li>
                            <li><a href="feature-grid.html">Grid</a>
                            </li>
                            <li><a href="feature-hovers.html">Hover effects</a>
                            </li>
                            <li><a href="feature-lightbox.html">Lightbox</a>
                            </li>
                            <li><a href="feature-media.html">Media</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-9">
                    <div class="row row-wrap" data-gutter="60">
                        <div class="col-md-6">
                            <h4>Tabs</h4>
                            <div class="tabbable">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="active"><a href="#tab-1" data-toggle="tab">First</a>
                                    </li>
                                    <li><a href="#tab-2" data-toggle="tab">Second</a>
                                    </li>
                                    <li><a href="#tab-3" data-toggle="tab">Third</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-1">
                                        <p class="mt10">Ante mattis massa id nulla sociis cursus tincidunt consectetur justo ipsum tortor purus conubia eget accumsan eget facilisi auctor felis sapien quisque turpis interdum curabitur tempor duis id metus luctus</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-2">
                                        <p class="mt10">Velit sit nullam ultrices nisl sodales placerat aliquam conubia adipiscing interdum diam viverra ligula adipiscing diam curae pulvinar elit in congue vestibulum facilisi parturient sed primis tincidunt felis pretium conubia</p>
                                    </div>
                                    <div class="tab-pane fade" id="tab-3">
                                        <p class="mt10">Elementum duis sit purus bibendum porttitor neque placerat nulla nostra velit molestie neque facilisis lacus imperdiet dictum nisl venenatis sodales cras suspendisse adipiscing vulputate penatibus ultricies neque lacus magnis convallis</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>Accordion</h4>
                            <div class="panel-group" id="accordion">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" >Malesuada vivamus fermentum</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse in" id="collapse-1">
                                        <div class="panel-body">Condimentum elit sociis fringilla nascetur aliquet interdum taciti lacus tortor lacus natoque per justo nullam sed quam porta donec integer orci fermentum tortor posuere sem in ullamcorper nascetur eget</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" >Dignissim dictum</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-2">
                                        <div class="panel-body">Hendrerit pulvinar facilisis semper dictum porttitor non inceptos curae maecenas consequat tristique erat phasellus montes phasellus vehicula id consectetur nec</div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse-3" >Conubia nulla interdum aptent mi</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="collapse-3">
                                        <div class="panel-body">Mollis urna lorem dapibus aliquet netus quam vel fusce tincidunt magnis non orci phasellus pharetra purus placerat fames quis libero phasellus non potenti felis gravida ut accumsan laoreet torquent</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2>Alerts</h2>
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <h4>Success</h4>
                            <div class="alert alert-success">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-small">Accumsan fermentum aliquet vivamus cum</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Info</h4>
                            <div class="alert alert-info">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-small">Ridiculus nascetur sit malesuada suscipit</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Warning</h4>
                            <div class="alert alert-warning">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-small">Taciti ultrices aliquet cursus odio</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h4>Danger</h4>
                            <div class="alert alert-danger">
                                <button class="close" type="button" data-dismiss="alert"><span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-small">Netus eleifend sagittis consectetur platea</p>
                            </div>
                        </div>
                    </div>
                    <h2>Buttons</h2>
                    <ul class="list-inline">
                        <li><a class="btn btn-default">Default</a>
                        </li>
                        <li><a class="btn btn-primary">Primary</a>
                        </li>
                        <li><a class="btn btn-success">Success</a>
                        </li>
                        <li><a class="btn btn-info">Info</a>
                        </li>
                        <li><a class="btn btn-warning">Warning</a>
                        </li>
                        <li><a class="btn btn-danger">Danger</a>
                        </li>
                        <li><a class="btn btn-link">Link</a>
                        </li>
                    </ul>
                    <div class="gap gap-small"></div>
                    <h4>Button Sizes</h4>
                    <ul class="list-inline">
                        <li><a class="btn btn-primary btn-lg">Large</a>
                        </li>
                        <li><a class="btn btn-primary btn-normal">Normal</a>
                        </li>
                        <li><a class="btn btn-primary btn-sm">Small</a>
                        </li>
                        <li><a class="btn btn-primary btn-xs">Extra small</a>
                        </li>
                    </ul>
                    <div class="gap gap-small"></div>
                    <h4>Ghost Buttons</h4>
                    <ul class="list-inline">
                        <li><a class="btn btn-ghost btn-default">Default</a>
                        </li>
                        <li><a class="btn btn-ghost btn-primary">Primary</a>
                        </li>
                        <li><a class="btn btn-ghost btn-success">Success</a>
                        </li>
                        <li><a class="btn btn-ghost btn-info">Info</a>
                        </li>
                        <li><a class="btn btn-ghost btn-warning">Warning</a>
                        </li>
                        <li><a class="btn btn-ghost btn-danger">Danger</a>
                        </li>
                    </ul>
                    <div class="gap gap-small"></div>
                    <h2>Comments</h2>
                    <!-- START COMMENTS -->
                    <ul class="comments-list">
                        <li>
                            <div class="article comment" inline_comment="comment">
                                <div class="comment-author">
                                    <img src="img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                                </div>
                                <div class="comment-inner"><span class="comment-author-name">Cyndy Naquin</span>
                                    <p class="comment-content">Neque malesuada lacus cum eros potenti nam nascetur risus pharetra bibendum habitant condimentum volutpat posuere sodales</p><span class="comment-time">15 seconds ago</span><a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a><a class="comment-like" href="#"><i class="fa fa-heart"></i> 0</a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="article comment" inline_comment="comment">
                                <div class="comment-author">
                                    <img src="img/50x50.png" alt="Image Alternative text" title="4 Strokes of Fun" />
                                </div>
                                <div class="comment-inner"><span class="comment-author-name">Cheryl Gustin</span>
                                    <p class="comment-content">Curae habitant sollicitudin nascetur tempor aenean eu interdum netus magnis mauris tortor ridiculus sodales rhoncus tempus imperdiet penatibus purus platea turpis aptent pharetra dictumst fames</p><span class="comment-time">15 seconds ago</span><a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a><a class="comment-like" href="#"><i class="fa fa-heart"></i> 33</a>
                                </div>
                            </div>
                            <ul>
                                <li>
                                    <div class="article comment" inline_comment="comment">
                                        <div class="comment-author">
                                            <img src="img/50x50.png" alt="Image Alternative text" title="Spidy" />
                                        </div>
                                        <div class="comment-inner"><span class="comment-author-name">Sarah Slater</span>
                                            <p class="comment-content">Torquent non rhoncus cras consequat leo sit maecenas habitant ultrices malesuada torquent dictum quam cras</p><span class="comment-time">15 seconds ago</span><a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a><a class="comment-like" href="#"><i class="fa fa-heart"></i> 35</a>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="article comment" inline_comment="comment">
                                                <div class="comment-author">
                                                    <img src="img/50x50.png" alt="Image Alternative text" title="Good job" />
                                                </div>
                                                <div class="comment-inner"><span class="comment-author-name">Joe Smith</span>
                                                    <p class="comment-content">Natoque pellentesque mauris vivamus nostra condimentum interdum dui turpis netus gravida gravida ultrices dolor montes duis non mollis primis dapibus litora porta congue aptent</p><span class="comment-time">15 seconds ago</span><a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a><a class="comment-like" href="#"><i class="fa fa-heart"></i> 8</a>
                                                </div>
                                            </div>
                                            <ul>
                                                <li>
                                                    <div class="article comment" inline_comment="comment">
                                                        <div class="comment-author">
                                                            <img src="img/50x50.png" alt="Image Alternative text" title="Ana 29" />
                                                        </div>
                                                        <div class="comment-inner"><span class="comment-author-name">Minnie Aviles</span>
                                                            <p class="comment-content">Arcu pellentesque per quis torquent tristique donec ligula at inceptos odio adipiscing morbi purus per</p><span class="comment-time">15 seconds ago</span><a class="comment-reply" href="#"><i class="fa fa-reply"></i> Reply</a><a class="comment-like" href="#"><i class="fa fa-heart"></i> 21</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                    </ul>
                            </ul>
                    </ul>
                    <!-- END COMMENTS -->
                    <div class="gap gap-small"></div>
                    <h2>Tooltips</h2>
                    <p>
                        Lorem ipsum dolor sit amet, <a href="#" rel="tooltip" title="Tooltip Top">consectetur</a> adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <a href="#" rel="tooltip" title="Tooltip Right" data-placement="right">laboris</a> nisi ut aliquip ex ea commodo consequat. Duis aute irure <a href="#" rel="tooltip" title="Tooltip Left" data-placement="left">dolor</a> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <a href="#" rel="tooltip" title="Tooltip Bottom" data-placement="bottom">Excepteur</a> sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <div class="gap gap-small"></div>
                    <h2>Testimonials</h2>
                    <div class="row" data-gutter="60">
                        <div class="col-md-6">
                            <!-- START TESTIMONIAL -->
                            <div class="testimonial">
                                <div class="testimonial-inner">
                                    <blockquote>
                                        <p>Accumsan sociis facilisi vel suscipit habitant arcu ridiculus eget nam</p>
                                    </blockquote>
                                </div>
                                <div class="testimonial-author">
                                    <img src="img/50x50.png" alt="Image Alternative text" title="Gamer Chick" />
                                    <p class="testimonial-author-name">John Mathis</p>
                                </div>
                            </div>
                            <!-- END TESTIMONIAL -->
                        </div>
                        <div class="col-md-6">
                            <!-- START TESTIMONIAL -->
                            <div class="testimonial testimonial-color">
                                <div class="testimonial-inner">
                                    <blockquote>
                                        <p>Enim aliquam feugiat feugiat consequat mauris litora curabitur mollis elit</p>
                                    </blockquote>
                                </div>
                                <div class="testimonial-author">
                                    <img src="img/50x50.png" alt="Image Alternative text" title="Ana 29" />
                                    <p class="testimonial-author-name">Brandon Burgess</p>
                                </div>
                            </div>
                            <!-- END TESTIMONIAL -->
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="gap"></div>
        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">About US</a>
                            </li>
                            <li><a href="#">Press Centre</a>
                            </li>
                            <li><a href="#">Best Price Guarantee</a>
                            </li>
                            <li><a href="#">Travel News</a>
                            </li>
                            <li><a href="#">Jobs</a>
                            </li>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                            <li><a href="#">Feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">+1-202-555-0173</h4>
                        <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                        <p>24/7 Dedicated Customer Support</p>
                    </div>

                </div>
            </div>
        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


