<!DOCTYPE HTML>
<html>

<head>
    <title>Traveler - Icon effects</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">
        <header id="main-header">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="logo" href="index.html">
                                <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                            </a>
                        </div>
                        <div class="col-md-3 col-md-offset-2">
                            <form class="main-header-search">
                                <div class="form-group form-group-icon-left">
                                    <i class="fa fa-search input-icon"></i>
                                    <input type="text" class="form-control">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <div class="top-user-area clearfix">
                                <ul class="top-user-area-list list list-horizontal list-border">
                                    <li class="top-user-area-avatar">
                                        <a href="user-profile.html">
                                            <img class="origin round" src="img/40x40.png" alt="Image Alternative text" title="AMaze" />Hi, John</a>
                                    </li>
                                    <li><a href="#">Sign Out</a>
                                    </li>
                                    <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                        <ul class="list nav-drop-menu">
                                            <li><a href="#">EUR<span class="right">€</span></a>
                                            </li>
                                            <li><a href="#">GBP<span class="right">£</span></a>
                                            </li>
                                            <li><a href="#">JPY<span class="right">円</span></a>
                                            </li>
                                            <li><a href="#">CAD<span class="right">$</span></a>
                                            </li>
                                            <li><a href="#">AUD<span class="right">A$</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="top-user-area-lang nav-drop">
                                        <a href="#">
                                            <img src="img/flags/32/uk.png" alt="Image Alternative text" title="Image Title" />ENG<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i>
                                        </a>
                                        <ul class="list nav-drop-menu">
                                            <li>
                                                <a title="German" href="#">
                                                    <img src="img/flags/32/de.png" alt="Image Alternative text" title="Image Title" /><span class="right">GER</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Japanise" href="#">
                                                    <img src="img/flags/32/jp.png" alt="Image Alternative text" title="Image Title" /><span class="right">JAP</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Italian" href="#">
                                                    <img src="img/flags/32/it.png" alt="Image Alternative text" title="Image Title" /><span class="right">ITA</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="French" href="#">
                                                    <img src="img/flags/32/fr.png" alt="Image Alternative text" title="Image Title" /><span class="right">FRE</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Russian" href="#">
                                                    <img src="img/flags/32/ru.png" alt="Image Alternative text" title="Image Title" /><span class="right">RUS</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a title="Korean" href="#">
                                                    <img src="img/flags/32/kr.png" alt="Image Alternative text" title="Image Title" /><span class="right">KOR</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="nav">
                    <ul class="slimmenu" id="slimmenu">
                        <li><a href="index.html">Home</a>
                            <ul>
                                <li><a href="index.html">Default</a>
                                </li>
                                <li><a href="index-1.html">Layout 1</a>
                                </li>
                                <li><a href="index-2.html">Layout 2</a>
                                </li>
                                <li><a href="index-3.html">Layout 3</a>
                                </li>
                                <li><a href="index-4.html">Layout 4</a>
                                </li>
                                <li><a href="index-5.html">Layout 5</a>
                                </li>
                                <li><a href="index-6.html">Layout 6</a>
                                </li>
                                <li><a href="index-7.html">Layout 7</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="success-payment.html">Pages</a>
                            <ul>
                                <li><a href="success-payment.html">Success Payment</a>
                                </li>
                                <li><a href="user-profile.html">User Profile</a>
                                    <ul>
                                        <li><a href="user-profile.html">Overview</a>
                                        </li>
                                        <li><a href="user-profile-settings.html">Settings</a>
                                        </li>
                                        <li><a href="user-profile-photos.html">Photos</a>
                                        </li>
                                        <li><a href="user-profile-booking-history.html">Booking History</a>
                                        </li>
                                        <li><a href="user-profile-cards.html">Cards</a>
                                        </li>
                                        <li><a href="user-profile-wishlist.html">Wishlist</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="blog.html">Blog</a>
                                    <ul>
                                        <li><a href="blog.html">Sidebar Right</a>
                                        </li>
                                        <li><a href="blog-sidebar-left.html">Sidebar Left</a>
                                        </li>
                                        <li><a href="blog-full-width.html">Full Width</a>
                                        </li>
                                        <li><a href="blog-post.html">Post</a>
                                            <ul>
                                                <li><a href="blog-post.html">Sidebar Right</a>
                                                </li>
                                                <li><a href="blog-post-sidebar-left.html">Sidebar Left</a>
                                                </li>
                                                <li><a href="blog-post-full-width.html">Full Width</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="404.html">404 page</a>
                                </li>
                                <li><a href="contact-us.html">Contact Us</a>
                                </li>
                                <li><a href="about.html">About</a>
                                </li>
                                <li><a href="login-register.html">Login/Register</a>
                                    <ul>
                                        <li><a href="login-register.html">Full Page</a>
                                        </li>
                                        <li><a href="login-register-normal.html">Normal</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="loading.html">Loading</a>
                                </li>
                                <li><a href="comming-soon.html">Comming Soon</a>
                                </li>
                                <li><a href="gallery.html">Gallery</a>
                                    <ul>
                                        <li><a href="gallery.html">4 Columns</a>
                                        </li>
                                        <li><a href="gallery-3-col.html">3 columns</a>
                                        </li>
                                        <li><a href="gallery-2-col.html">2 columns</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="page-full-width.html">Full Width</a>
                                </li>
                                <li><a href="page-sidebar-right.html">Sidebar Right</a>
                                </li>
                                <li><a href="page-sidebar-left.html">Sidebar Left</a>
                                </li>
                            </ul>
                        </li>
                        <li class="active"><a href="feature-typography.html">Features</a>
                            <ul>
                                <li><a href="feature-typography.html">Typography</a>
                                </li>
                                <li><a href="feature-icons.html">Icons</a>
                                </li>
                                <li><a href="feature-forms.html">Forms</a>
                                </li>
                                <li class="active"><a href="feature-icon-effects.html">Icon Effects</a>
                                </li>
                                <li><a href="feature-elements.html">Elements</a>
                                </li>
                                <li><a href="feature-grid.html">Grid</a>
                                </li>
                                <li><a href="feature-hovers.html">Hover effects</a>
                                </li>
                                <li><a href="feature-lightbox.html">Lightbox</a>
                                </li>
                                <li><a href="feature-media.html">Media</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="hotels.html">Hotels</a>
                            <ul>
                                <li><a href="hotel-details.html">Details</a>
                                    <ul>
                                        <li><a href="hotel-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotel-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="hotel-details-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="hotel-details-4.html">Layout 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotel-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="hotel-payment.html">Registered</a>
                                        </li>
                                        <li><a href="hotel-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="hotel-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotel-search.html">Search</a>
                                    <ul>
                                        <li><a href="hotel-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotel-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="hotels.html">Results</a>
                                    <ul>
                                        <li><a href="hotels.html">Layout 1</a>
                                        </li>
                                        <li><a href="hotels-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="hotels-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="hotels-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="hotel-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="flights.html">Flights</a>
                            <ul>
                                <li><a href="flight-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="flight-payment.html">Registered</a>
                                        </li>
                                        <li><a href="flight-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="flight-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="flight-search.html">Search</a>
                                    <ul>
                                        <li><a href="flight-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="flight-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="flights.html">List</a>
                                    <ul>
                                        <li><a href="flights.html">Layout 1</a>
                                        </li>
                                        <li><a href="flights-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="flights-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="flights-search-results-4.html">Layout 4</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="rentals.html">Rentals</a>
                            <ul>
                                <li><a href="rentals-details.html">Details</a>
                                    <ul>
                                        <li><a href="rentals-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="rentals-details-3.html">Layout 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rental-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="rental-payment.html">Registered</a>
                                        </li>
                                        <li><a href="rental-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="rental-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rentals-search.html">Search</a>
                                    <ul>
                                        <li><a href="rentals-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="rentals.html">Results</a>
                                    <ul>
                                        <li><a href="rentals.html">Layout 1</a>
                                        </li>
                                        <li><a href="rentals-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="rentals-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="rentals-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="rentals-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="cars.html">Cars</a>
                            <ul>
                                <li><a href="car-details.html">Details</a>
                                </li>
                                <li><a href="car-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="car-payment.html">Registered</a>
                                        </li>
                                        <li><a href="car-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="car-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="car-search.html">Search</a>
                                    <ul>
                                        <li><a href="car-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="car-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="cars.html">Results</a>
                                    <ul>
                                        <li><a href="cars.html">Layout 1</a>
                                        </li>
                                        <li><a href="cars-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="cars-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="cars-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="cars-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="activities.html">Activities</a>
                            <ul>
                                <li><a href="activitiy-details.html">Details</a>
                                    <ul>
                                        <li><a href="activitiy-details.html">Layout 1</a>
                                        </li>
                                        <li><a href="activitiy-details-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="activitiy-details-3.html">Layout 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activity-search.html">Search</a>
                                    <ul>
                                        <li><a href="activity-search.html">Layout 1</a>
                                        </li>
                                        <li><a href="activity-search-2.html">Layout 2</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activitiy-payment.html">Payment</a>
                                    <ul>
                                        <li><a href="activitiy-payment.html">Registered</a>
                                        </li>
                                        <li><a href="activity-payment-registered-card.html">Existed Cards</a>
                                        </li>
                                        <li><a href="activitiy-payment-unregistered.html">Unregistered</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="activities.html">Results</a>
                                    <ul>
                                        <li><a href="activities.html">Layout 1</a>
                                        </li>
                                        <li><a href="activities-search-results-2.html">Layout 2</a>
                                        </li>
                                        <li><a href="activities-search-results-3.html">Layout 3</a>
                                        </li>
                                        <li><a href="activities-search-results-4.html">Layout 4</a>
                                        </li>
                                        <li><a href="activities-search-results-5.html">Layout 5</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container">
            <h1 class="page-title">Icon effects</h1>
        </div>




        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <aside class="sidebar-left">
                        <ul class="nav nav-pills nav-stacked nav-side mb30">

                            <li><a href="feature-typography.html">Typography</a>
                            </li>
                            <li><a href="feature-icons.html">Icons</a>
                            </li>
                            <li><a href="feature-forms.html">Forms</a>
                            </li>
                            <li class="active"><a href="feature-icon-effects.html">Icon Effects</a>
                            </li>
                            <li><a href="feature-elements.html">Elements</a>
                            </li>
                            <li><a href="feature-grid.html">Grid</a>
                            </li>
                            <li><a href="feature-hovers.html">Hover effects</a>
                            </li>
                            <li><a href="feature-lightbox.html">Lightbox</a>
                            </li>
                            <li><a href="feature-media.html">Media</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="col-md-9">
                    <h3>You can mix any size, color, animation and icon.</h3>
                    <h4>It's about 40000000+ possible variations :)</h4>
                    <div class="gap gap-small"></div>
                    <div class="row row-wrap">
                        <div class="col-md-4">
                            <i class="fa fa-bug box-icon-large box-icon-left box-icon-info box-icon-to-success animate-icon-top-to-bottom round"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Bug</li>
                                <li>Size: Large</li>
                                <li>Color: Info</li>
                                <li>To Color: Success</li>
                                <li>Shape: Round</li>
                                <li>Animation: Top to bottom</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-cogs box-icon-big box-icon-black box-icon-to-inverse box-icon-left animate-icon-border-fadeout"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Cogs</li>
                                <li>Size: Big</li>
                                <li>Color: Black</li>
                                <li>To color: Inverse</li>
                                <li>Animation: Border Fade out</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-heart box-icon-danger box-icon-left box-icon-border animate-icon-shake round"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Heart</li>
                                <li>Size: Normal</li>
                                <li>Color: Danger</li>
                                <li>Shape: Border, round</li>
                                <li>Animation: Shake</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-wrap">
                        <div class="col-md-4">
                            <i class="fa fa-fire box-icon-large box-icon-left box-icon-warning box-icon-to-danger animate-icon-border-fadein"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Fire</li>
                                <li>Size: Large</li>
                                <li>Color: Warning</li>
                                <li>To Color: Danger</li>
                                <li>Animation: Border Fadein</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-gift box-icon-big box-icon-inverse box-icon-to-normal box-icon-left animate-icon-left-to-right round"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Gift</li>
                                <li>Size: Big</li>
                                <li>Color: Inverse</li>
                                <li>To color: Normal</li>
                                <li>Shape: Round</li>
                                <li>Animation: Left to Right</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-tag box-icon-gray box-icon-to-normal box-icon-left animate-icon-bounce"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Tag</li>
                                <li>Size: Normal</li>
                                <li>Color: Gray</li>
                                <li>To color: Normal</li>
                                <li>Animation: Bounce</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row row-wrap">
                        <div class="col-md-4">
                            <i class="fa fa-gear box-icon-large box-icon-left box-icon-success box-icon-to-inverse box-icon-border-dashed animate-icon-tada round"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Gear</li>
                                <li>Size: Large</li>
                                <li>Color: Success</li>
                                <li>To Color: Inverse</li>
                                <li>Shape: Round, dashed</li>
                                <li>Animation: Tada</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-glass box-icon-big box-icon-to-danger box-icon-left animate-icon-flash"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Glass</li>
                                <li>Size: Big</li>
                                <li>Color: Normal</li>
                                <li>To color: Danger</li>
                                <li>Animation: Flash</li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <i class="fa fa-globe box-icon-gray box-icon-info box-icon-left animate-icon-border-rise round"></i>	
                            <ul class="list dis-table">
                                <li>Icon: Globe</li>
                                <li>Size: Normal</li>
                                <li>Color: Info</li>
                                <li>Shape: Round</li>
                                <li>Animation: Border Rise</li>
                            </ul>
                        </div>
                    </div>
                    <div class="gap"></div>
                    <h3>Sizes</h3>
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <i class="fa fa-bolt box-icon-huge"></i>	
                            <p class="mt5 mb0">Huge</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-large"></i>	
                            <p class="mt5 mb0">Large</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big"></i>	
                            <p class="mt5 mb0">Big</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon"></i>	
                            <p class="mt5 mb0">Normal</p>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                    <h3>Colors</h3>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big"></i>	
                            <p class="mt5 mb0">Normal</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-black"></i>	
                            <p class="mt5 mb0">Black</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-gray"></i>	
                            <p class="mt5 mb0">Gray</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-inverse"></i>	
                            <p class="mt5 mb0">Inverse</p>
                        </div>
                    </div>

                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-info"></i>	
                            <p class="mt5 mb0">Info</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-success"></i>	
                            <p class="mt5 mb0">Success</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-warning"></i>	
                            <p class="mt5 mb0">Warning</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-danger"></i>	
                            <p class="mt5 mb0">Danger</p>
                        </div>
                    </div>

                    <p>You can set any transition between colors</p>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-black box-icon-to-normal"></i>	
                            <p class="mt5 mb0">Black to Normal</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-warning box-icon-to-danger"></i>	
                            <p class="mt5 mb0">Warning Danger</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-to-inverse"></i>	
                            <p class="mt5 mb0">Normal Inverse</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-gray box-icon-to-success"></i>	
                            <p class="mt5 mb0">Gray Success</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-info box-icon-to-black"></i>	
                            <p class="mt5 mb0">Info Black</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-inverse box-icon-to-gray"></i>	
                            <p class="mt5 mb0">Inverse Gray</p>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                    <h3>Shape</h3>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big round"></i>	
                            <p class="mt5 mb0">Round</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-border"></i>	
                            <p class="mt5 mb0">Border</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-border round"></i>	
                            <p class="mt5 mb0">Border Round</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-border-dashed"></i>	
                            <p class="mt5 mb0">Border Dashed</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big box-icon-border-dashed round"></i>	
                            <p class="mt5 mb0">Dashed Round</p>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                    <h3>Animations</h3>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-flash"></i>	
                            <p class="mt5 mb0">Flash</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-shake"></i>	
                            <p class="mt5 mb0">Shake</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-bounce"></i>	
                            <p class="mt5 mb0">Bounce</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-tada"></i>	
                            <p class="mt5 mb0">Tada</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-swing"></i>	
                            <p class="mt5 mb0">Swing</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-pulse"></i>	
                            <p class="mt5 mb0">Pulse</p>
                        </div>
                    </div>

                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-border-rise"></i>	
                            <p class="mt5 mb0">Border Rise</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-border-rise-alt"></i>	
                            <p class="mt5 mb0">Border Rise Alt</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-border-fadeout"></i>	
                            <p class="mt5 mb0">Border Fade out</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-border-fadein"></i>	
                            <p class="mt5 mb0">Border Fade in</p>
                        </div>
                    </div>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-left-to-right"></i>	
                            <p class="mt5 mb0">Left to Right</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-right-to-left"></i>	
                            <p class="mt5 mb0">Right to Left</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-top-to-bottom"></i>	
                            <p class="mt5 mb0">Top to Bottom</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big animate-icon-bottom-to-top"></i>	
                            <p class="mt5 mb0">Bottom to Top</p>
                        </div>
                    </div>


                    <div class="gap gap-small"></div>
                    <h3>Aligment</h3>
                    <div class="row row-wrap">
                        <div class="col-md-3">
                            <p>Normal</p>
                            <i class="fa fa-bolt box-icon-big"></i>		<small class="dis-table mt5">Morbi urna lobortis nascetur pulvinar hac elit erat</small>
                        </div>
                        <div class="col-md-3">
                            <p>Center</p>
                            <i class="fa fa-bolt box-icon-big box-icon-center"></i>		<small class="text-center dis-table mt5">Lectus ultricies cras massa elementum habitant magna rutrum</small>
                        </div>
                        <div class="col-md-3">
                            <p>Left</p>
                            <i class="fa fa-bolt box-icon-big box-icon-left"></i>		<small class="dis-table">Eleifend suscipit cum arcu accumsan cum libero sed</small>
                        </div>
                        <div class="col-md-3">
                            <p>Right</p>
                            <i class="fa fa-bolt box-icon-big box-icon-right"></i>		<small class="dis-table">Pharetra ligula elementum viverra sem malesuada tellus auctor</small>
                        </div>
                    </div>
                    <div class="gap gap-small"></div>
                    <h3>Tooltips</h3>
                    <div class="row row-wrap">
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big" rel="tooltip" title="Tooltip top"></i>	
                            <p class="mt5 mb0">Top</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big" rel="tooltip" title="Tooltip bottom" data-placement="bottom"></i>	
                            <p class="mt5 mb0">Bottom</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big" rel="tooltip" title="Tooltip left" data-placement="left"></i>	
                            <p class="mt5 mb0">Left</p>
                        </div>
                        <div class="col-md-2">
                            <i class="fa fa-bolt box-icon-big" rel="tooltip" title="Tooltip right" data-placement="right"></i>	
                            <p class="mt5 mb0">Right</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="gap"></div>
        <footer id="main-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-3">
                        <a class="logo" href="index.html">
                            <img src="img/logo-invert.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                        <p class="mb20">Booking, reviews and advices on hotels, resorts, flights, vacation rentals, travel packages, and lots more!</p>
                        <ul class="list list-horizontal list-space">
                            <li>
                                <a class="fa fa-facebook box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-google-plus box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-pinterest box-icon-normal round animate-icon-bottom-to-top" href="#"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3">
                        <h4>Newsletter</h4>
                        <form>
                            <label>Enter your E-mail Address</label>
                            <input type="text" class="form-control">
                            <p class="mt5"><small>*We Never Send Spam</small>
                            </p>
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </form>
                    </div>
                    <div class="col-md-2">
                        <ul class="list list-footer">
                            <li><a href="#">About US</a>
                            </li>
                            <li><a href="#">Press Centre</a>
                            </li>
                            <li><a href="#">Best Price Guarantee</a>
                            </li>
                            <li><a href="#">Travel News</a>
                            </li>
                            <li><a href="#">Jobs</a>
                            </li>
                            <li><a href="#">Privacy Policy</a>
                            </li>
                            <li><a href="#">Terms of Use</a>
                            </li>
                            <li><a href="#">Feedback</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h4>Have Questions?</h4>
                        <h4 class="text-color">+1-202-555-0173</h4>
                        <h4><a href="#" class="text-color">support@traveler.com</a></h4>
                        <p>24/7 Dedicated Customer Support</p>
                    </div>

                </div>
            </div>
        </footer>

        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


