<!DOCTYPE HTML>
<html>

<head>
    <title>Traveler - Preview</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest" />
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet' type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

    <!-- FACEBOOK WIDGET -->
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- /FACEBOOK WIDGET -->
    <div class="global-wrap">

        <div class="preview-area">
            <div class="bg-holder">
                <div class="bg-mask"></div>
                <div class="bg-blur" style="background-image:url(img/1300x900.png);"></div>
                <div class="bg-content">
                    <div class="container">
                        <img class="preview-logo" src="img/logo-white.png" alt="Image Alternative text" title="Image Title" />
                        <h1 class="text-white mb20 text-uc">Bold Move in Your Travel Business</h1>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <p class="text-white text-bigger mb30">Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can't be wrong. You should definitely give it a shot :)</p>
                            </div>
                        </div>
                        <div class="row row-col-gap">
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index.html" target="_blank">
                                        <img src="img/mockup-1.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index.html" target="_blank">Default Layout</a></h5>
                                    <p class="preview-desc">Hero area with search tabs, weather widget, parrallax last minute deal area, top destinations</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-1.html" target="_blank">
                                        <img src="img/mockup-2.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-1.html" target="_blank">Video Background</a></h5>
                                    <p class="preview-desc">Horizontal main search area, testinonial widget, centered sales points, last minute blured area, top destinations</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-2.html" target="_blank">
                                        <img src="img/mockup-3.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-2.html" target="_blank">Hero Slider with Weather Widget</a></h5>
                                    <p class="preview-desc">In content search tabs, parrallax last minute deals area, small right aligned sales points</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-col-gap">
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-3.html" target="_blank">
                                        <img src="img/mockup-4.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-3.html" target="_blank">Blured Slider + Weather Widget</a></h5>
                                    <p class="preview-desc">Centered left aligned sales points, testimonials blured area, last minute deals thumbnails</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-4.html" target="_blank">
                                        <img src="img/mockup-5.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-4.html" target="_blank">Grid Images</a></h5>
                                    <p class="preview-desc">Horizontal search tabs, colored area for sales points, top cities slider, top destinations thumbnails</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-5.html" target="_blank">
                                        <img src="img/mockup-6.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-5.html" target="_blank">Testimonials Rotator</a></h5>
                                    <p class="preview-desc">Top banners, cities thumbnails (with flags), last minute thumbnails, right aligned small sales points</p>
                                </div>
                            </div>
                        </div>
                        <div class="row row-col-gap">
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-6.html" target="_blank">
                                        <img src="img/mockup-7.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-6.html" target="_blank">Hero Slider</a></h5>
                                    <p class="preview-desc">Top lifted search area tabs, small horizontal thumbnails, top destinations large section</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="text-center preview-item">
                                    <a class="preview-img" href="index-7.html" target="_blank">
                                        <img src="img/mockup-8.png" alt="Image Alternative text" title="Image Title" />
                                    </a>
                                    <h5 class="preview-title"><a href="index-7.html" target="_blank">Word Rotator + Hero Slider</a></h5>
                                    <p class="preview-desc">Horizontal search area, large sales points, last minute deal, destinations thumbnails with flags</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/slimmenu.js"></script>
        <script src="js/bootstrap-datepicker.js"></script>
        <script src="js/bootstrap-timepicker.js"></script>
        <script src="js/nicescroll.js"></script>
        <script src="js/dropit.js"></script>
        <script src="js/ionrangeslider.js"></script>
        <script src="js/icheck.js"></script>
        <script src="js/fotorama.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
        <script src="js/typeahead.js"></script>
        <script src="js/card-payment.js"></script>
        <script src="js/magnific.js"></script>
        <script src="js/owl-carousel.js"></script>
        <script src="js/fitvids.js"></script>
        <script src="js/tweet.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/gridrotator.js"></script>
        <script src="js/custom.js"></script>
    </div>
</body>

</html>


